<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yangi Mahsulot Qo'shish</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_styles.css' %}">
</head>
<body>
<div class="container">
    <h1>Yangi Mahsulot Qo'shish</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Nomi:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="price">Narxi:</label>
        <input type="number" id="price" name="price" step="0.01" required><br>

        <label for="quantity">Soni:</label>
        <input type="number" id="quantity" name="quantity" required><br>

        <label for="comment">Izoh:</label>
        <textarea id="comment" name="comment"></textarea><br>

        <label for="category">Kategoriya:</label>
        <select id="category" name="category" required>
            <option value="" disabled selected>Kategoriya tanlang</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select><br>

        <label for="images">Rasm:</label>
        <input type="file" id="images" name="images"><br>

        <button type="submit">Qo'shish</button>
    </form>
</div>
</body>
</html>
