<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index-style.css' %}">
    <title>Kirish</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-menu">
            <li><a href="#">Mahsulotlar</a></li>
            <li><a href="{% url 'seller_register' %}">Seller bo'lish</a></li>
            <li><a href="#">Sellerlar</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="{% url 'add_product' %}">Mahsulot qo'shish</a></li>
        </ul>
    </nav>
</body>
</html>
