<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirish</title>
</head>
<body>
    <div class="contener">
        <form method="post">
            {% csrf_token%}
            <h2>Kirish</h2>
            {% if error %}
               <p class="error">{{ error }}</p>
            {% endif %}
            <input type="text" name="phone" placeholder="Telfon" required>
            <input type="text" name="password" placeholder="Parol" required>
            <button type="submit">Kirish</button>   
        </form>
    </div>
</body>
</html>