
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Kirish</title>
</head>
<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h2>Kirish</h2>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <input type="text" name="phone" placeholder="Telefon" required>
            <input type="password" name="password" placeholder="Parol" required>
            <button type="submit">Kirish</button>
        </form>
    </div>
</body>
</html>
