<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <title>Kirish</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Mahsulotlar</a></li>
            <li><a href="{% url 'seller_register' %}">Seller bo'lish</a></li>
            <li><a href="#">Sellerlar</a></li>
            <li><a href="{% url 'add_product' %}">Mahsulot qo'shish</a></li>
        </ul>
    </nav>

    <div class="product-container">
        {% for product in products %}
            {% if product.status %}
                <div class="product-card">
                    <img src="{{ product.images.url }}" alt="{{ product.name }}" class="product-image">
                    <div class="product-info">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.price }}</p>
                    </div>
                    <div class="product-details">

                    </div>

                </div>

    </div>
</body>
</html>
