<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Seller Ro‘yxatdan o‘tish</title>
</head>
<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h2>Seller Ro‘yxatdan o‘tish</h2>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <input type="text" name="full_name" placeholder="Ism va Familiya" required>
            <input type="text" name="phone" placeholder="Telefon: +998XXXXXXXXX" required>
            <input type="password" name="password" placeholder="Parol" required>
            <button type="submit">Ro‘yxatdan o‘tish</button>
        </form>
    </div>
</body>
</html>
