<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/seller_register.css' %}">
    <title>Seller Ro‘yxatdan o‘tish</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'product_list' %}">Mahsulotlar</a></li>
            <li><a href="{% url 'seller_register' %}">Seller bo'lish</a></li>
            <li><a href="#">Sellerlar</a></li>
            <li><a href="{% url 'add_product' %}">Mahsulot qo'shish</a></li>
        </ul>
    </nav>

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Seller Ro‘yxatdan o‘tish</h2>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <input type="text" name="full_name" placeholder="Ism va Familiya" required>
            <input type="text" name="phone" placeholder="Telefon: +998XXXXXXXXX" required>
            <input type="password" name="password" placeholder="Parol" required>
            <input type="file" name="image" accept="image/*">
            <button type="submit">Ro‘yxatdan o‘tish</button>
        </form>
    </div>
</body>
</html>
