<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller ro'yxatdan o'tish</title>
</head>
<body>
    <div class="contener">
        <form class="post">
            {% csrf_token %}
            <h2>Seller ro'yxatdan o'tish</h2>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %} 
            <input type="text" name="full_name" placeholder="Ism va Familiya" required>
            <input type="text" name="password" placeholder="Telfon: +998xxxxxxxxx" required>
            <input type="password" name="password" placeholder="Parol" required>
            <button type="submit">Ro'yxatdan o'tish</button>   
        </form>
    </div>
</body>
</html>