

.navbar {
    background-color: #796262;
    border-top: 4px solid #cc0000;
    display: flex;
    justify-content: center;
    padding: 10px 5px;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 90px;
}



.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 10px;
}
